<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>Web Application</display-name>
<!-- 	<listener> -->
<!-- 		<listener-class>com.s.Log4jlistener</listener-class> -->
<!-- 	</listener> -->
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>
			org.song.course.servlet.InitServlet
		</servlet-class>
		<!-- 配置获取access_token所需参数appid和appsecret -->
		<init-param>
			<param-name>appid</param-name>
			<param-value>wxd50d4dbeb2ce2f24</param-value>
		</init-param>
		<init-param>
			<param-name>appsecret</param-name>
			<param-value>9aec6e257c5ce2aeab9234f8a32a10d7</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	
	<servlet>
		<servlet-name>oauthServlet</servlet-name>
		<servlet-class>
			org.song.course.servlet.OAuthServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>oauthServlet</servlet-name>
		<url-pattern>/oauthServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewS</servlet-name>	
		<servlet-class>com.s.NewS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewS</servlet-name>
		<url-pattern>/NewS</url-pattern>
	</servlet-mapping>
	
	<servlet>  
        <servlet-name>coreServlet</servlet-name>  
        <servlet-class>  
            org.song.course.servlet.CoreServlet  
        </servlet-class>  
    </servlet>  
  
    <!-- url-pattern中配置的/coreServlet用于指定该Servlet的访问路径 -->  
    <servlet-mapping>  
        <servlet-name>coreServlet</servlet-name>  
        <url-pattern>/coreServlet</url-pattern>  
    </servlet-mapping>  
</web-app>
